// Custom palettes with default palettes
$primary-palette: (
    50: var(--theme-primary-color-50, #e0e7ea),
    100: var(--theme-primary-color-100, #b3c3cb),
    200: var(--theme-primary-color-200, #809ca9),
    300: var(--theme-primary-color-300, #4d7486),
    400: var(--theme-primary-color-400, #26566c),
    500: var(--theme-primary-color-500, #003852),
    600: var(--theme-primary-color-600, #00324b),
    700: var(--theme-primary-color-700, #002b41),
    800: var(--theme-primary-color-800, #002438),
    900: var(--theme-primary-color-900, #001728),
    A100: var(--theme-primary-color-A100, #63abff),
    A200: var(--theme-primary-color-A200, #308fff),
    A400: var(--theme-primary-color-A400, #0074fc),
    A700: var(--theme-primary-color-A700, #0068e2),
    contrast: (
        50: var(--theme-primary-color-contrast-50, #000000),
        100: var(--theme-primary-color-contrast-100, #000000),
        200: var(--theme-primary-color-contrast-200, #000000),
        300: var(--theme-primary-color-contrast-300, #ffffff),
        400: var(--theme-primary-color-contrast-400, #ffffff),
        500: var(--theme-primary-color-contrast-500, #ffffff),
        600: var(--theme-primary-color-contrast-600, #ffffff),
        700: var(--theme-primary-color-contrast-700, #ffffff),
        800: var(--theme-primary-color-contrast-800, #ffffff),
        900: var(--theme-primary-color-contrast-900, #ffffff),
        A100: var(--theme-primary-color-contrast-A100, #000000),
        A200: var(--theme-primary-color-contrast-A200, #000000),
        A400: var(--theme-primary-color-contrast-A400, #000000),
        A700: var(--theme-primary-color-contrast-A700, #000000),
    ),
);

$secondary-palette: (
    50: var(--theme-accent-color-50, #f4f5f6),
    100: var(--theme-accent-color-100, #e4e7e9),
    200: var(--theme-accent-color-200, #d3d7db),
    300: var(--theme-accent-color-300, #c1c6cc),
    400: var(--theme-accent-color-400, #b3bac1),
    500: var(--theme-accent-color-500, #a6aeb6),
    600: var(--theme-accent-color-600, #9ea7af),
    700: var(--theme-accent-color-700, #959da6),
    800: var(--theme-accent-color-800, #8b949e),
    900: var(--theme-accent-color-900, #7b848e),
    A100: var(--theme-accent-color-A100, #ffffff),
    A200: var(--theme-accent-color-A200, #e5f0fd),
    A400: var(--theme-accent-color-A400, #b0d6ff),
    A700: var(--theme-accent-color-A700, #96c8ff),
    contrast: (
        50: var(--theme-accent-color-contrast-50, #000000),
        100: var(--theme-accent-color-contrast-100, #c3c3c3),
        200: var(--theme-accent-color-contrast-200, #000000),
        300: var(--theme-accent-color-contrast-300, #000000),
        400: var(--theme-accent-color-contrast-400, #ffffff),
        500: var(--theme-accent-color-contrast-500, #ffffff),
        600: var(--theme-accent-color-contrast-600, #ffffff),
        700: var(--theme-accent-color-contrast-700, #ffffff),
        800: var(--theme-accent-color-contrast-800, #ffffff),
        900: var(--theme-accent-color-contrast-900, #f5f5f5),
        A100: var(--theme-accent-color-contrast-A100, #000000),
        A200: var(--theme-accent-color-contrast-A200, #000000),
        A400: var(--theme-accent-color-contrast-A400, #ffffff),
        A700: var(--theme-accent-color-contrast-A700, #ffffff),
    ),
);

$accent-palette: (
    50: var(--theme-accent-color-50, #eff5e8),
    100: var(--theme-accent-color-100, #d7e5c5),
    200: var(--theme-accent-color-200, #bdd49f),
    300: var(--theme-accent-color-300, #a3c378),
    400: var(--theme-accent-color-400, #8fb65b),
    500: var(--theme-accent-color-500, #7ba93e),
    600: var(--theme-accent-color-600, #73a238),
    700: var(--theme-accent-color-700, #689830),
    800: var(--theme-accent-color-800, #5e8f28),
    900: var(--theme-accent-color-900, #4b7e1b),
    A100: var(--theme-accent-color-A100, #d8ffb8),
    A200: var(--theme-accent-color-A200, #bdff85),
    A400: var(--theme-accent-color-A400, #a1ff52),
    A700: var(--theme-accent-color-A700, #93ff39),
    contrast: (
        50: var(--theme-accent-color-contrast-50, #000000),
        100: var(--theme-accent-color-contrast-100, #c3c3c3),
        200: var(--theme-accent-color-contrast-200, #000000),
        300: var(--theme-accent-color-contrast-300, #000000),
        400: var(--theme-accent-color-contrast-400, #ffffff),
        500: var(--theme-accent-color-contrast-500, #ffffff),
        600: var(--theme-accent-color-contrast-600, #ffffff),
        700: var(--theme-accent-color-contrast-700, #ffffff),
        800: var(--theme-accent-color-contrast-800, #ffffff),
        900: var(--theme-accent-color-contrast-900, #f5f5f5),
        A100: var(--theme-accent-color-contrast-A100, #000000),
        A200: var(--theme-accent-color-contrast-A200, #000000),
        A400: var(--theme-accent-color-contrast-A400, #ffffff),
        A700: var(--theme-accent-color-contrast-A700, #ffffff),
    ),
);
