@import 'theme.scss';

$primary: map-get($chg-main-theme, primary);
$secondary: map-get($chg-secondary-theme, primary);
$accent: map-get($chg-main-theme, accent);
$warn: map-get($chg-main-theme, warn);
