@use '@angular/material' as mat;
// Import theme variables
@import '../../../../../../../app/styles/variables.scss';

.document-detail {
    &__field {
        text-align: justify;
        border: 0.5px solid mat.get-color-from-palette($primary, 50) !important;
        padding: 10px;
        font-size: 12px;
        &__label {
            font-weight: bold;
        }
        &__value {
            color: mat.get-color-from-palette($secondary);
            font-weight: bold;
            font-size: 13px;
        }
    }
}
