<div class="sidenav">
    <mat-sidenav-container class="sidenav__container">
        <mat-sidenav #sidenav id="sidenav" mode="side" class="sidenav__container__vertical-menu">
            <mat-toolbar class="sidenav__container__toolbar">
                <span>{{ 'SIRA' | translate }}</span>
            </mat-toolbar>
            <app-sidenav-left-menu [modules]="modules" (changeModule)="setModule($event)"> </app-sidenav-left-menu>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav__container__content">
            <app-sidenav-top-menu
                [moduleCode]="moduleCode$ | async"
                (toggleSidenav)="toggleSidenav()"
            ></app-sidenav-top-menu>
            <div class="sidenav__container__content__router">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
