<mat-sidenav-container class="sidenav">
    <mat-sidenav #sidenav id="sidenav" [mode]="(deviceType$ | async) !== DeviceType.Small ? 'side' : 'over'" class="mat-elevation-z2">
        <mat-toolbar class="sidenav__toolbar" color="primary">
            <mat-toolbar-row class="sidenav__toolbar__header">
                <span class="sidenav__toolbar__header__title">
                    {{ 'SIRA' | translate }}<br />
                    <span class="sidenav__toolbar__header__subtitle"> {{ 'CHG_document_manager' | translate }} </span>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
        <app-sidenav-left-menu (changeModule)="setModule($event)"> </app-sidenav-left-menu>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav__content">
        <app-sidenav-top-menu (toggleSidenav)="toggleSidenav()" (changeLanguage)="setLanguage($event)"></app-sidenav-top-menu>
        <div class="sidenav__content__router">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
