.sidenav {
    &__container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .mat-sidenav {
            background: #1a202e;
        }
        &__toolbar {
            background: #171d29;
            min-height: 75px;
            &__header {
                padding-top: 10px;
                text-align: center;
                &__first-title {
                    font-size: 18px;
                }
                &__second-title {
                    font-size: 14px;
                }
            }
        }
        &__content {
            &__router {
                margin-top: 75px;
            }
        }
        .mat-list-item a {
            text-decoration: none;
        }
    }
}
