<div class="message-dialog">
    <div class="message-dialog__icon">
        <mat-icon
            [color]="
                data.type === MessageType.Informative ? 'primary' : data.type === MessageType.Error ? 'error' : 'warn'
            "
            [inline]="true"
        >
            {{ data.type === MessageType.Informative ? 'info' : data.type === MessageType.Error ? 'error' : 'warning' }}
        </mat-icon>
    </div>
    <h1 mat-dialog-title class="message-dialog__title">
        {{ data.title | translate }}
    </h1>
    <div mat-dialog-content class="message-dialog__content">
        <p *ngFor="let message of data.messages">{{ message }}</p>
    </div>
    <div mat-dialog-actions class="message-dialog__actions" align="center">
        <button
            mat-button
            mat-dialog-close
            mat-stroked-button
            [color]="
                data.type === MessageType.Informative ? 'primary' : data.type === MessageType.Error ? 'error' : 'warn'
            "
        >
            {{ 'close' | translate }}
        </button>
    </div>
</div>
