<div class="document container-fluid p-4" *ngIf="params$ | async; let params;">
    <div class="row" *ngIf="!params.hasError">
        <!-- Document filters-->
        <div class="document__filter col-12">
            <app-document-filter
                [groups]="params.groups"
                [documentStates]="params.documentStates"
                [documentTypes]="params.documentTypes"
                (changeValue)="setFilter($event)"
                (onSubmit)="onSubmit($event)"
            ></app-document-filter>
        </div>
        <!-- Document list-->
        <div class="col-12" *ngIf="params.documents">
            <app-document-list [records]="params.documents" [selectedRecord]="params.document" (changeRecord)="fetchDocument($event.id)">
            </app-document-list>
        </div>
    </div>
</div>
