.documents {
    position: sticky;
    &__list {
        padding-top: 20px;
    }
    &__detail {
        @media only screen and (max-width: 1200px) {
            padding-top: 20px;
        }
        padding-top: 95px;
    }
}
