<div class="document">
    <mat-card class="mat-elevation-z0 document__card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title> {{ document.group.code }} - {{ document.type.code }} - {{ document.code }} </mat-card-title>
                <mat-card-subtitle> {{ document.subject }} </mat-card-subtitle>
                <button mat-icon-button><mat-icon (click)="onClose.emit()">close</mat-icon></button>
            </mat-card-title-group>
        </mat-card-header>
        <mat-tab-group class="m-4" mat-align-tabs="center">
            <mat-tab label="{{ 'detail' | translate | uppercase }}">
                <app-document-detail [document]="document"></app-document-detail>
            </mat-tab>
            <mat-tab label="{{ 'files' | translate | uppercase }}" disabled> Content 2 </mat-tab>
            <mat-tab label="{{ 'historical' | translate | uppercase }}" disabled> Content 3 </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
