@use '@angular/material' as mat;
// Import theme variables
@import '../../../../styles/variables.scss';

.document-list {
    &__filter {
        mat-form-field {
            width: 100%;
        }
    }
    &__table {
        height: calc(100vh - 250px);
        overflow: auto;
        width: 100%;
        .mat-row:hover {
            cursor: pointer;
        }
        // Columns styles
        .mat-column-reference {
            white-space: nowrap;
        }
        .closed-document {
            .mat-column-state {
                color: mat.get-color-from-palette($accent);
            }
        }
    }
    &__table::-webkit-scrollbar {
        width: 5px !important;
        height: 5px !important;
    }
}
