<div class="document-list">
    <div class="document-list__filter">
        <mat-form-field appearance="fill">
            <mat-label>{{ 'filter' | translate }}...</mat-label>
            <input id="filter" matInput (keyup)="applyFilter($event)" />
        </mat-form-field>
    </div>
    <div class="document-list__table table-responsive mat-elevation-z2">
        <mat-table [dataSource]="dataSource" #table matSort>
            <!-- StartDate Column -->
            <ng-container [matColumnDef]="DocumentColumn.StartDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'registration_date' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ row.startDate | localDate : CustomDateFormat.ShortDate }}
                </mat-cell>
            </ng-container>
            <!-- Group Column -->
            <ng-container [matColumnDef]="DocumentColumn.Group">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'group' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.group }} </mat-cell>
            </ng-container>
            <!-- Reference Column -->
            <ng-container [matColumnDef]="DocumentColumn.Reference">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'reference' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.reference }} </mat-cell>
            </ng-container>
            <!-- Subject Column -->
            <ng-container [matColumnDef]="DocumentColumn.Subject">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'subject' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.subject }}</mat-cell>
            </ng-container>
            <!-- Sref Column -->
            <ng-container [matColumnDef]="DocumentColumn.Sref">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'sref' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.sref }}</mat-cell>
            </ng-container>
            <!-- Promoter Column -->
            <ng-container [matColumnDef]="DocumentColumn.Promoter">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'promoter' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.promoter }}</mat-cell>
            </ng-container>
            <!-- Observations Column -->
            <ng-container [matColumnDef]="DocumentColumn.Observations">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'observations' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.observations }}</mat-cell>
            </ng-container>
            <!-- Keywords Column -->
            <ng-container [matColumnDef]="DocumentColumn.Keywords">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'keywords' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.keywords }}</mat-cell>
            </ng-container>
            <!-- State Column -->
            <ng-container [matColumnDef]="DocumentColumn.State">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'state' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.state }}</mat-cell>
            </ng-container>
            <!-- Displayed Columns -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
                [class]="{ highlight: selectedRecord?.id == row.id }"
                (click)="changeRecord.emit(row)"
                *matRowDef="let row; columns: displayedColumns"
            >
            </mat-row>
        </mat-table>
    </div>
    <div class="document-list__paginator mat-elevation-z2">
        <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"> </mat-paginator>
    </div>
</div>
