@use '@angular/material' as mat;
// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
// Import Roboot
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/utilities';
//Material UI Theme (Examples:deeppurple-amber.css,indigo-pink.css,pink-bluegrey.css,purple-green.css)
@import '@angular/material/prebuilt-themes/indigo-pink.css';
// Import Countries Flag Icons
@import 'flag-icons/css/flag-icons.min.css';
// Import theme variables
@import 'app/styles/variables.scss';

// Mat divider
.mat-divider {
    border-top-color: mat.get-color-from-palette($secondary) !important;
}
// Mat form
mat-form-field {
    font-size: 14px !important;
    margin-bottom: 5px !important;
    mat-label {
        font-size: 16px !important;
    }
}

// Mat card
.mat-card {
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: white;
}

.mat-card-title {
    color: white;
    background-color: mat.get-color-from-palette($secondary) !important;
    padding: 5px !important;
    text-align: center;
}
.mat-card-content {
    padding: 20px;
}
.mat-card-actions {
    padding-bottom: 10px !important;
}
