@use '@angular/material' as mat;
// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
// Import Roboot
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/utilities';
//Material UI Theme (Examples:deeppurple-amber.css,indigo-pink.css,pink-bluegrey.css,purple-green.css)
@import '@angular/material/prebuilt-themes/indigo-pink.css';
// Import Countries Flag Icons
@import 'flag-icons/css/flag-icons.min.css';
// Import theme variables
@import 'app/styles/variables.scss';

// Mat-colors
.mat-secondary {
    color: mat.get-color-from-palette($secondary);
}
.mat-success {
    color: mat.get-color-from-palette($success);
}
.mat-error {
    color: mat.get-color-from-palette($error);
}

// Mat divider
.mat-divider {
    border-top-color: mat.get-color-from-palette($secondary) !important;
}
// Mat form
mat-form-field {
    font-size: 14px !important;
    margin-bottom: 5px !important;
    mat-label {
        font-size: 16px !important;
    }
}
// Mat card
.mat-card {
    border: 0.5px solid mat.get-color-from-palette($secondary, 200) !important;
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.mat-card-header {
    color: white !important;
    background: mat.get-color-from-palette($primary, 400) !important;
    padding-top: 10px !important;
    justify-content: center !important;
    text-align: center !important;
    button {
        position: absolute;
        right: 0;
        top: 0;
    }
}
.mat-card-title {
    color: white !important;
    font-size: 18px;
}
.mat-card-subtitle {
    color: white !important;
    font-size: 15px;
    padding-top: 5px;
}
.mat-card-content {
    padding: 20px;
}
.mat-card-actions {
    padding-bottom: 10px !important;
}
// Scrollbar
::-webkit-scrollbar {
    width: 10px;
    height: 15px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
    background-color: mat.get-color-from-palette($secondary);
}
// Mat table styles
.table-responsive {
    display: block;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 5px 25px;
        line-break: unset;
        width: auto;
        //white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        font-size: 12.5px !important;
    }
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 15px 25px;
        line-break: unset;
        white-space: nowrap;
        width: auto;
        overflow: hidden;
        vertical-align: middle;
        color: white !important;
        font-size: 13.5px !important;
        background: mat.get-color-from-palette($secondary, 700);
        text-transform: uppercase;
    }
    .mat-row:nth-child(even) {
        //background-color: mat.get-color-from-palette($secondary, 50);
    }
    .mat-row:hover {
        background: mat.get-color-from-palette($accent, 50);
    }
    .mat-header-row {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
    .highlight {
        background: mat.get-color-from-palette($accent, 50);
    }
}

/* Mat tab */
.mat-tab-label {
    font-weight: bold;
}
